<!DOCTYPE html>
<html>
<body>

<h2>HTML list </h2>
<a href="new">new</a>

        <table>
          <tr>
              <th>Id</th>

            <th>receive_newsletter </th>
              <th>Days</th>

            <th>Gender </th>
              <th>DOB</th>

          </tr>
            {% for i in list %}
          <tr>

            <td>{{i.id}}</td>

            <td>{{i.receive_newsletter }}</td>
              <td>{{i.days }}</td>
              <td>{{i.sex }}</td>
              <td>{{i.dob }}</td>

              <td><a href="edit/{{i.pk}}">Edit</a></td>
              <td><a href="delete/{{i.pk}}">Delete</a></td>
          </tr>
            {% endfor %}
        </table>

</body>
</html>

